.dashboard {
  max-width: 1200px;
  margin: 20px auto;
  min-height: calc(100vh - 150px);
}

.cardsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}
